.div1 {
	width:90%;
	background-color:grey;
	text-align: center;
	float: center;
	margin: auto;
	
    padding-bottom: 10px;
    overflow: auto;


}

.div2{
    width:33%;
    margin: right;
    float: left;
    background-color:#666666;
    color: white;
   
    border:3px solid grey;
    height: 400px;
}

.div3{
    width:67%;
    margin: right;
    float: left;
    background-color:white;
    color: white;
    
    
    height: 400px;
}
.div4{
	width:100%;
    margin: right;
    float: left;
    background-color:#f2f2f2;
    color: black;
    
    border:2px solid #d6d6d6;
    height: 650px;
    overflow: auto;
    padding: 20px;


}
.div6{
  width: 100%;
  position: fixed;
  background-color: red;

}
.div7{
  width: 40%;
  overflow: auto;
  background-color:#cc0000;
  min-height: 500px; 
  color: white;
  padding-left: 1cm;
  text-align: left;
  border: 5px solid grey;
  
 float: left;
 
  
}
.div8{
    width:60%;
    color: black;
    min-height: 500px;
    background-color: white;
    float: left;
    border: 5px solid grey;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .div9{
    width:60%;
    color: black;
    min-height: 632px;
    background-color: white;
    float: left;
    border: 5px solid grey;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .div10{
    width:100%;
    margin: right;
    float: left;
    background-color:white;
    color: black;
    border:2px solid #d6d6d6;
    height: 650px;
    overflow: auto;
    padding: 20px;
    background-image: url("image/bg.png")

  }
  .div11{
    width:67%;
    margin: right;
    float: left;
    background-color:grey;
    color: white; 
    height: 400px;
}
.div12{

   width:30%;
}