header {

width:100%;
background-color:#ff9900;
color: white;
border: 3px solid #ff9900;
text-align: center;
font-family: Helvetica;
}

nav{

	background-color: #bfbfbf;
	border-radius: 5px;
	min-height: 20px;
    

}
li{

	display: inline;
}
a{

	color: white;
    text-decoration: none;
   
}
body{

    background-image: url("bg.jpg");
}

input[type=text] {
    width: 210px;
    color: black;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 16px;  
}

input[type=email] {
    width: 210px;
    color: black;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 16px;  
}

input[type=password] {
    width: 210px;
    color: black;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 16px;  
}

.hover{

    background-color:#cc0000;
}







.select{

	width: 210px;
	height: 40px; 
	color:black; 
	border-radius:3px;
	background-color: white;
}

.img1{
        width: 100%;
        height:393px;
        border-radius: 3px;

}
.img2{

	width: 100%;
	height:385px;
	border-radius: 3px;
}

.ht{


    text-align: center;
    color: black;
    font-family: Helvetica;
    padding: 10px;
}
.img3{
    height: 300px;
    width: 40%;
    float: left;
    margin-left: 10px;
    margin-right: 10px
    padding:10px;
    padding-right: 10px;
    border-radius: 5px;
}
.img4{
     width: 200px;
     height: 200px;
     float: right;
     padding: 5px;
     border-radius: 5px;
}
.f1{
    color: white;
    width: 100%;
    height: 115px;
    background-color: #6f757b;
   left:0px;
   bottom:0px;
   text-align: center;
   padding-top: 10px;
}
.ul1{
    display: inline;
    color: white;
    text-align: center;
    
}